<div class="jumbotron text-center">
  <h1 class="display-4">Place for ...</h1>
  <p class="lead">This is a simple place wear you can store and shorten your favorit links</p>
  <hr class="my-4">
  <p>Sign Up to day and keep your browser cleen !!!</p>
  <p class="lead">
    <a class="btn btn-primary btn-small" href="/users/sign_up" role="button">Sign Up</a>
  </p>
</div>
<div class="row justify-content-center">
    <%= render 'shared/login' %>
</div>
